<body>
<div class="wrapper">
    <header>
        <h1 class="header">Reproducible Research Oxford</h1>
        <p class="header">A project at the University of Oxford</p>



        <ul>
            <li><a class="buttons github" href="https://github.com/RROxford">GitHub Profile</a></li>
        </ul>

    </header>
    <section>
        <h3>
            <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
                <span aria-hidden="true" class="octicon octicon-link"></span></a>
            Welcome to the Reproducible Research Oxford project!
        </h3>

        <p><b>Reproducible Research Oxford</b> is a project based at the <a href="http://www.ox.ac.uk/">University of Oxford</a>. The project aims to
            lay the groundwork for a culture of research reproducibility at Oxford, focusing on training in the effective use of computational tools
            in research. These tools are widely used in some disciplines, and they can enable researchers to easily track the process leading
            from data to results, so that it is fully reproducible. However, researchers often lack the opportunities, incentives and confidence
            to make best use of these tools.
        </p>

        <p>As part of the project, we have set up a <a
              href="https://software-carpentry.org/scf/partners/">partnership</a>
             between the University of Oxford and <a
              href="https://software-carpentry.org/">Software</a> and
             <a href="http://www.datacarpentry.org/">Data</a>
             Carpentry, non-profit volunteer organisations focused on
             teaching researchers across disciplines the computing and
             data skills they need for effective and reproducible
             research. We will coordinate and deliver a series of
             Software/Data Carpentry workshops open to students and
             staff across the University. Additionally, we will train
             Software/Data Carpentry instructors based at Oxford to
             build local capacity in this area.  </p>

        <p>
            The project is supported by the <a href="http://blogs.it.ox.ac.uk/innovation-challenges/researchreproducibility/">IT Innovation Challenges Fund</a> and the <a href="https://www.socsci.ox.ac.uk/">Social Sciences Division</a>, with grants to <a href="http://www.santafe.edu/~fortunato/">Laura Fortunato</a>.
            It is based in the <a href="http://www.anthro.ox.ac.uk/">School of Anthropology and Museum Ethnography</a> and the <a href="http://www.oerc.ox.ac.uk/">Oxford e-Research Centre</a>, with members drawn from across the University.
        </p>

        <h3>Who we are</h3>
        <p>
            We are a group of researchers based at the University of Oxford who are passionate about research reproducibility and open research.
            The project aims to bring together expertise in these areas from across the University, and our members work in a diverse range of
            disciplines in the natural, medical, and social sciences, and in the humanities.
        </p>


        <h3>Workshops</h3>

        <p>For more information about the workshops, please visit the individual websites:</p>

        <ul>
            <i><p>Software Carpentry workshop, 13-14 March 2017, details TBD.</p></i>
        </ul>

        <ul>
            <i><p>Sofware Carpentry workshop, 13-14 February 2017, details TBD.</p></i>
        </ul>

        <ul>
            <i><p><a href="https://rroxford.github.io/2017-01-09-oxford/">Software
                Carpentry workshop, 9-10 January 2017.</a></p></i>
        </ul>

        <p>More workshops planned for Trinity Term 2017, details TBD!</p>

        <p>Are you interested in running a <a
                 href="https://software-carpentry.org/">Software</a>
                or <a href="http://www.datacarpentry.org/">Data</a>
                Carpentry workshop for your research group,
                department, or other unit? We may be able to help! Do
                get in touch to discuss.</p>

        <h3>Contact</h3>

        <p>Are you passionate about reproducibility and open research? There
            are several ways to get involved, from attending a workshop to joining
            the project team! We are also looking for volunteers to help out with
            coordinating and running the workshops.</p>

        <p>For announcements about future workshops and related activities,
            check our website regularly, subscribe to our <a
                    href="https://web.maillist.ox.ac.uk/ox/info/rroxford">mailing
                list</a> and follow us on Twitter <a
                    href="http://twitter.com/RR_Oxford">@RR_Oxford</a>.</p>

        <p>Are you interested in running a <a
                 href="https://software-carpentry.org/">Software</a>
                or <a href="http://www.datacarpentry.org/">Data</a>
                Carpentry workshop for your research group,
                department, or other unit? We may be able to help! Do
                get in touch to discuss.</p>

        <!--
        <p>This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here <a href="https://guides.github.com/features/mastering-markdown/">using GitHub Flavored Markdown</a>, select a template crafted by a designer, and publish. After your page is generated, you can check out the new <code>gh-pages</code> branch locally. If you’re using GitHub Desktop, simply sync your repository and you’ll see the new branch.</p>

        <h3>
        <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Project Goals</h3>

        <p>This project aims to lay the groundwork for a culture of research reproducibility at Oxford, focusing on training in the effective use of computational tools in research. These tools are widely used in some disciplines, and they can enable researchers to easily track the process leading from data to results, so that it is fully reproducible. However, researchers often lack the opportunities, incentives and confidence to make best use of these tools.</p>

        <h3>
        <a id="creating-pages-manually" class="anchor" href="#creating-pages-manually" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Creating pages manually</h3>

        <p>If you prefer to not use the automatic generator, push a branch named <code>gh-pages</code> to your repository to create a page manually. In addition to supporting regular HTML content, GitHub Pages support Jekyll, a simple, blog aware static site generator. Jekyll makes it easy to create site-wide headers and footers without having to copy them across every page. It also offers intelligent blog support and other advanced templating features.</p>

        <h3>
        <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Authors and Contributors</h3>

        <p>You can @mention a GitHub username to generate a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor’s GitHub Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>

        <h3>
        <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Support or Contact</h3>
        -->

        <!--
                <p>Having trouble with Pages? Check out our <a href="https://help.github.com/pages">documentation</a> or <a href="https://github.com/contact">contact support</a> and we’ll help you sort it out.</p>
              </section>
              <footer>
                <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
              </footer>
            </div>
            <script>fixScale(document);</script>
            -->


<!--

        <div class="container" id="team">
            <div class="content">
                <div class="row">
                    {% assign counter=0 %}

                    {% for person in site.data.team %}
                    {% capture modulus %}{{ counter | mod:2 }}{% endcapture %}

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="team-portrait block">
                            <div class="title">
                                <h2>{{person.name}}</h2>
                                <h3 class="italic">{{person.jobtitle}}  {{person.affiliation}}</h3>
                            </div>
                            <div class="portrait">
                                <a href="#">
                                    <img src="{{person.img}}" alt="{{person.name}}">
                                    <span class="overlay"><span class="valign"></span><i class="icon-envelope"></i></span>
                                </a>
                            </div>
                            <div class="social-media">
                                <a href="#{{person.twitter}}" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#{{person.linkedin}}" data-toggle="tooltip" title="" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#{{person.github}}" data-toggle="tooltip" title="" data-original-title="github"><i class="fa fa-github"></i></a>
                                <a href="#{{person.website}}" data-toggle="tooltip" title="" ><i class="fa fa-pinterest"></i></a>
                                <span class="stretch"></span>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>





            <div class="team-container" align="center">
                <div class="container">
                    {% assign counter=0 %}

                    {% for person in site.data.team %}

                    {% capture modulus %}{{ counter | mod:2 }}{% endcapture %}
                    {% if modulus == "0" %}
                    <div class="row clearfix">
                        {% endif %}

                        <div class="team-user team-image-box col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="text-center square"><img class="image-circle" src="{{person.img}}" alt="{{person.name}}"/></div>
                            <h5 class="team-title">{{person.name}}</h5>
                            <h5 class="team-subtitle">{{person.jobtitle}} {{person.affiliation}}</h5>
                            <a href="{{person.website}}" target="_blank" class="result">More info</a>
                            <div class="social-media">
                                <a href="#{{person.twitter}}" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#{{person.linkedin}}" data-toggle="tooltip" title="" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#{{person.github}}" data-toggle="tooltip" title="" data-original-title="github"><i class="fa fa-github"></i></a>
                                <a href="#{{person.website}}" data-toggle="tooltip" title="" ><i class="fa fa-pinterest"></i></a>
                                <span class="stretch"></span>
                            </div>
                        </div>

                        {% if modulus == "1" %}
                    </div>
                    {% endif %}
                    {% assign counter=counter | plus:1 %}
                    {% endfor %}
                </div>
            </div>

-->


        <!--
        <p>This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here <a href="https://guides.github.com/features/mastering-markdown/">using GitHub Flavored Markdown</a>, select a template crafted by a designer, and publish. After your page is generated, you can check out the new <code>gh-pages</code> branch locally. If you’re using GitHub Desktop, simply sync your repository and you’ll see the new branch.</p>

        <h3>
        <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Project Goals</h3>

        <p>This project aims to lay the groundwork for a culture of research reproducibility at Oxford, focusing on training in the effective use of computational tools in research. These tools are widely used in some disciplines, and they can enable researchers to easily track the process leading from data to results, so that it is fully reproducible. However, researchers often lack the opportunities, incentives and confidence to make best use of these tools.</p>

        <h3>
        <a id="creating-pages-manually" class="anchor" href="#creating-pages-manually" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Creating pages manually</h3>

        <p>If you prefer to not use the automatic generator, push a branch named <code>gh-pages</code> to your repository to create a page manually. In addition to supporting regular HTML content, GitHub Pages support Jekyll, a simple, blog aware static site generator. Jekyll makes it easy to create site-wide headers and footers without having to copy them across every page. It also offers intelligent blog support and other advanced templating features.</p>

        <h3>
        <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Support or Contact</h3>
        -->

        <!--
                <p>Having trouble with Pages? Check out our <a href="https://help.github.com/pages">documentation</a> or <a href="https://github.com/contact">contact support</a> and we’ll help you sort it out.</p>
              </section>
              <footer>
                <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
              </footer>
            </div>
            <script>fixScale(document);</script>
            -->

</body>
</html>
